<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amg.Build" version="0.35.0" targetFramework="net47" />
  <package id="Amg.GetOpt" version="0.2.2" targetFramework="net47" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net47" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="GitVersionCore" version="5.0.1" targetFramework="net47" />
  <package id="JetBrains.Annotations" version="2019.1.3" targetFramework="net47" />
  <package id="LibGit2Sharp" version="0.27.0-preview-0034" targetFramework="net47" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.298" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Microsoft.CodeCoverage" version="17.0.0" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="NUnit3TestAdapter" version="4.1.0" targetFramework="net48" />
  <package id="Optional" version="4.0.0" targetFramework="net47" />
  <package id="Pidgin" version="2.2.0" targetFramework="net47" />
  <package id="Serilog" version="2.9.0" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net47" />
  <package id="sidi-util" version="14.3.0" targetFramework="net47" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net47" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net47" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="YamlDotNet" version="8.1.0" targetFramework="net47" />
</packages>