<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir916B8FC3FDE13F8CCB2AA0A2BD5BFBD1" Name="hagen">
                <Component Id="cmpC4141E25742F261C541BF3B162EFD1A9" Guid="*">
                    <File Id="fil0610F602F882E6181DCCDBDA8E569F2A" KeyPath="yes" Source="$(var.BuildDirectory)\activityReport.exe" />
                </Component>
                <Component Id="cmp6012D1F70DF4F1FC7CFA801C4EA230F6" Guid="*">
                    <File Id="filE3237B1D9C46E18D237612EB7590BBD2" KeyPath="yes" Source="$(var.BuildDirectory)\activityReport.exe.config" />
                </Component>
                <Component Id="cmp72B2A5489ED4792358BD8FAEABF82F01" Guid="*">
                    <File Id="fil853695B9DCF50AE19F96D057766F0A6A" KeyPath="yes" Source="$(var.BuildDirectory)\Castle.Core.dll" />
                </Component>
                <Component Id="cmp6F5E2AE54AC895C08C46E26791D13297" Guid="*">
                    <File Id="fil9439ED72AC249E37A3E51AEAAE8D93A8" KeyPath="yes" Source="$(var.BuildDirectory)\Google.GData.Client.dll" />
                </Component>
                <Component Id="cmp06DAF4A502926EC44C1365B25B931EEE" Guid="*">
                    <File Id="filEC9A1DD6B66CF4C7060D78108B22FAC7" KeyPath="yes" Source="$(var.BuildDirectory)\Google.GData.Contacts.dll" />
                </Component>
                <Component Id="cmpCDE8C2BFF13E9B1366DF422D27D92359" Guid="*">
                    <File Id="filAF792B752F9D8807E055EA6222EB2F9C" KeyPath="yes" Source="$(var.BuildDirectory)\Google.GData.Extensions.dll" />
                </Component>
                <Component Id="cmpF6F105A75052008A884EFF589D5F227B" Guid="*">
                    <File Id="filB8B05CF2ABE51A96B530C51577816551" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.core.dll" />
                </Component>
                <Component Id="cmp2C6A1DFF9B6B81AC26A2E04913048F6C" Guid="*">
                    <File Id="filDA8A99E34B9192ADFE9A2D4175352535" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.core.dll.config" />
                </Component>
                <Component Id="cmp39D08EBF688E7DA5F805DF45F5465838" Guid="*">
                    <File Id="fil6A5D200C5B444E23A68F9E9F6F89327B" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.exe" />
                </Component>
                <Component Id="cmp3A3F84318C542CF458F75FFA82131335" Guid="*">
                    <File Id="filE75FB8A68F48CF24AF2909DBD0249428" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.exe.config" />
                </Component>
                <Component Id="cmp41EA0347FC3341A984AB3C830A0B1CEB" Guid="*">
                    <File Id="filCE5B7DC74C2134A58BBF5FF5AFA2D6CE" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.ext.dll" />
                </Component>
                <Component Id="cmp0B22E2904A2E0366BF20BE5F41B11383" Guid="*">
                    <File Id="fil2205B3651381E525C190CD7DAEB9F068" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.ext.dll.config" />
                </Component>
                <Component Id="cmpE56C0304E47CDD51EC0A2D8CAC8ACD50" Guid="*">
                    <File Id="fil5E3F4A6174E67379EF54FD11DED7BBB8" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.plugin.file.dll" />
                </Component>
                <Component Id="cmp82DA04BF11CAA996BDDF81C930DED160" Guid="*">
                    <File Id="fil68656262FDE663E7B09CA0C1AA0F3963" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.plugin.file.dll.config" />
                </Component>
                <Component Id="cmp38D5CF664559D196FAB5A4563D90813C" Guid="*">
                    <File Id="filA875A52D9ACB0D29FECA76686F14FBD1" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.plugin.screen.dll" />
                </Component>
                <Component Id="cmp4322B4D7CA020055F1236AEE4F6C9D17" Guid="*">
                    <File Id="fil7EF95956D7520023F984D754389CCAFB" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.plugin.screen.dll.config" />
                </Component>
                <Component Id="cmpD485B6117CAB52D416905CC55673A6B5" Guid="*">
                    <File Id="fil5DF635E7C3FA201F49817DFDD90E1D49" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.plugin.web.dll" />
                </Component>
                <Component Id="cmpFB2EB3E933A510B2F8B969F3AC38EE0C" Guid="*">
                    <File Id="fil1CF40911AF7D00D58739FF1A4D4D59B5" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.plugin.web.dll.config" />
                </Component>
                <Component Id="cmp8BCE6B08912291B99029CB195E9C9520" Guid="*">
                    <File Id="fil70B54A3352D2D9B1F3DEA729B5FFDEC0" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.vshost.exe" />
                </Component>
                <Component Id="cmp61C405A4478F5D43D04526582B748974" Guid="*">
                    <File Id="fil7A1A2AC7ED47973E9AD1AA8A88644CD4" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.vshost.exe.config" />
                </Component>
                <Component Id="cmpB108D54951D4634A7BD6BF44B1F77538" Guid="*">
                    <File Id="filB8CB08F3853DD4CF66726FEDBD111E79" KeyPath="yes" Source="$(var.BuildDirectory)\hagen.vshost.exe.manifest" />
                </Component>
                <Component Id="cmp22D6440C136EBB2E1934BDBA86016683" Guid="*">
                    <File Id="filBAF7382EBE50D8BA07B3978C6D2E1295" KeyPath="yes" Source="$(var.BuildDirectory)\ICSharpCode.SharpZipLib.dll" />
                </Component>
                <Component Id="cmp939C5C3925623AFBE5071BF4DF7CB425" Guid="*">
                    <File Id="fil8D2DE35D3ADF865E04A293115336738B" KeyPath="yes" Source="$(var.BuildDirectory)\Interop.IWshRuntimeLibrary.dll" />
                </Component>
                <Component Id="cmpDED094E99949F270E791BA5072B2DF4D" Guid="*">
                    <File Id="filA3D14CE1B0C100E97F39E40B6F9775EF" KeyPath="yes" Source="$(var.BuildDirectory)\log4net.dll" />
                </Component>
                <Component Id="cmpA157E143732DEEE46007028573529144" Guid="*">
                    <File Id="fil0D5B59A89646B6A909D5332E642C4DEE" KeyPath="yes" Source="$(var.BuildDirectory)\ManagedWinapi.dll" />
                </Component>
                <Component Id="cmp960C98ECEE2C46AB711EE84D3E588CB5" Guid="*">
                    <File Id="fil3C88FD32B580E57E671A063B5D0CEA6F" KeyPath="yes" Source="$(var.BuildDirectory)\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmpAF41C54ABB0D3FDE1DE71F641A13F552" Guid="*">
                    <File Id="filD8E315A1DC647AEFAEF9B010FFC55925" KeyPath="yes" Source="$(var.BuildDirectory)\nunit.framework.dll" />
                </Component>
                <Component Id="cmp52036CDE798728FCDF8B674A0D39D010" Guid="*">
                    <File Id="fil2FB7FD4CC71500A518C438446F15D9E7" KeyPath="yes" Source="$(var.BuildDirectory)\ObjectListView.dll" />
                </Component>
                <Component Id="cmp08989762B4EDE0332714DD1810FBEFF1" Guid="*">
                    <File Id="fil9CAC233A00C9D85F0493EE888F1C6B25" KeyPath="yes" Source="$(var.BuildDirectory)\SciLexer.dll" />
                </Component>
                <Component Id="cmp125FBD49DE40E7F710F7FB57CD272974" Guid="*">
                    <File Id="fil08A82E9EC45D6E696A14F01A7EEF2997" KeyPath="yes" Source="$(var.BuildDirectory)\SciLexer64.dll" />
                </Component>
                <Component Id="cmp07DE945C9BAD3999C8A4FE6F103D84E4" Guid="*">
                    <File Id="filCA5620C66D56BD79FFB2E5B9B7337F9B" KeyPath="yes" Source="$(var.BuildDirectory)\ScintillaNET.dll" />
                </Component>
                <Component Id="cmp0F9F8C98A5A0F40B83BB267709613FD4" Guid="*">
                    <File Id="filFEE87E38652EC72B790FDA033F3C030E" KeyPath="yes" Source="$(var.BuildDirectory)\Sidi.Office.dll" />
                </Component>
                <Component Id="cmpA278A8B01D4D2CBA44669BF87B4D0807" Guid="*">
                    <File Id="filA8A2FEB30E2B20901248E7773A5DA09D" KeyPath="yes" Source="$(var.BuildDirectory)\Sidi.Util.dll" />
                </Component>
                <Component Id="cmp7D9F8FE712E88B920833E8F1284CEFA0" Guid="*">
                    <File Id="fil70D8BA95ACEBAD7BE805BC2C273E5278" KeyPath="yes" Source="$(var.BuildDirectory)\sqlite3.exe" />
                </Component>
                <Component Id="cmp4AAFD0221FB2729284F660E38A007FEE" Guid="*">
                    <File Id="filB7AC3B699031145784EC9C58D746FA60" KeyPath="yes" Source="$(var.BuildDirectory)\System.Data.SQLite.dll" />
                </Component>
                <Component Id="cmpA459D0D8FA761724EE1BD2B6715806EC" Guid="*">
                    <File Id="filAD720313579DEFFE29FDEA596781A4A3" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.Core.dll" />
                </Component>
                <Component Id="cmp22AB6697445264842CDEDD1C7746A0F8" Guid="*">
                    <File Id="fil27A411693CAE4183BAB6B8D98BAED94F" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.Interfaces.dll" />
                </Component>
                <Component Id="cmpD5E217864F0B099BF9E2C84D6FCE53A2" Guid="*">
                    <File Id="filA6253BFB60AB69FC89E26D59A3496725" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.Linq.dll" />
                </Component>
                <Component Id="cmp152A62B10AC7E22FF5CA2501527A053C" Guid="*">
                    <File Id="fil351E8A0B939461BDC55B9C069BE65D1E" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.PlatformServices.dll" />
                </Component>
                <Component Id="cmpF0F72B17E70A358BE0499322B7A65E7E" Guid="*">
                    <File Id="fil25C1339858840381631F22BAA0B94277" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.Windows.Forms.dll" />
                </Component>
                <Component Id="cmpFDAF2425CB8D4109D6BD65D05E812B5E" Guid="*">
                    <File Id="fil96A38536F4FF9411D5C6301CAF742412" KeyPath="yes" Source="$(var.BuildDirectory)\TestStack.White.dll" />
                </Component>
                <Component Id="cmp5AB53AF6248893C11726033A08DD85CF" Guid="*">
                    <File Id="filC8CEC53188879AEE0F018E15546BF23F" KeyPath="yes" Source="$(var.BuildDirectory)\WeifenLuo.WinFormsUI.Docking.dll" />
                </Component>
                <Directory Id="dir0E76998BDA0860E04453B6797A71CA68" Name="unit-test">
                    <Component Id="cmpF1EF22C0A655F0D6C411DB73B5FF59A6" Guid="*">
                        <File Id="fil32757DCDE8736147DDEB17C0D0A7612B" KeyPath="yes" Source="$(var.BuildDirectory)\unit-test\FileContents" />
                    </Component>
                    <Component Id="cmpBA8F485E62EF46D00A783E1A9D9D05BA" Guid="*">
                        <File Id="filA8F15EDFBAF729B360B4F06B35F5DCF7" KeyPath="yes" Source="$(var.BuildDirectory)\unit-test\FileGroupDescriptor" />
                    </Component>
                    <Component Id="cmp07895743AB8D7050F67EB438B2E05DD8" Guid="*">
                        <File Id="fil102A1C79669A9F8463DEFCF264227773" KeyPath="yes" Source="$(var.BuildDirectory)\unit-test\FileGroupDescriptorW" />
                    </Component>
                    <Component Id="cmp256349AB14F041D065C0801B6B11AA98" Guid="*">
                        <File Id="fil51E833653C96E5FA087C35869B12FFE1" KeyPath="yes" Source="$(var.BuildDirectory)\unit-test\UniformResourceLocator" />
                    </Component>
                    <Component Id="cmp237EFEBDD31DE0B5F98BCC8D9DCD5287" Guid="*">
                        <File Id="filFF7E6994D86B4228437B5443DB4AA3D7" KeyPath="yes" Source="$(var.BuildDirectory)\unit-test\UniformResourceLocatorW" />
                    </Component>
                </Directory>
                <Directory Id="dir0778A42808B5AF44FC6B24684ECE0C60" Name="x64">
                    <Component Id="cmpE2FB6C743E6047B5A10913A206D8868C" Guid="*">
                        <File Id="fil03CF8759B71BE0949142EC33064432E0" KeyPath="yes" Source="$(var.BuildDirectory)\x64\SQLite.Interop.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir09493FE67E56CBB05F19DD00202D166D" Name="x86">
                    <Component Id="cmp8F6E51E0ECE080B46C18D509469172FE" Guid="*">
                        <File Id="fil02A2BA20C646B5D0D7491C88BC2086F8" KeyPath="yes" Source="$(var.BuildDirectory)\x86\SQLite.Interop.dll" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="cmpC4141E25742F261C541BF3B162EFD1A9" />
            <ComponentRef Id="cmp6012D1F70DF4F1FC7CFA801C4EA230F6" />
            <ComponentRef Id="cmp72B2A5489ED4792358BD8FAEABF82F01" />
            <ComponentRef Id="cmp6F5E2AE54AC895C08C46E26791D13297" />
            <ComponentRef Id="cmp06DAF4A502926EC44C1365B25B931EEE" />
            <ComponentRef Id="cmpCDE8C2BFF13E9B1366DF422D27D92359" />
            <ComponentRef Id="cmpF6F105A75052008A884EFF589D5F227B" />
            <ComponentRef Id="cmp2C6A1DFF9B6B81AC26A2E04913048F6C" />
            <ComponentRef Id="cmp39D08EBF688E7DA5F805DF45F5465838" />
            <ComponentRef Id="cmp3A3F84318C542CF458F75FFA82131335" />
            <ComponentRef Id="cmp41EA0347FC3341A984AB3C830A0B1CEB" />
            <ComponentRef Id="cmp0B22E2904A2E0366BF20BE5F41B11383" />
            <ComponentRef Id="cmpE56C0304E47CDD51EC0A2D8CAC8ACD50" />
            <ComponentRef Id="cmp82DA04BF11CAA996BDDF81C930DED160" />
            <ComponentRef Id="cmp38D5CF664559D196FAB5A4563D90813C" />
            <ComponentRef Id="cmp4322B4D7CA020055F1236AEE4F6C9D17" />
            <ComponentRef Id="cmpD485B6117CAB52D416905CC55673A6B5" />
            <ComponentRef Id="cmpFB2EB3E933A510B2F8B969F3AC38EE0C" />
            <ComponentRef Id="cmp8BCE6B08912291B99029CB195E9C9520" />
            <ComponentRef Id="cmp61C405A4478F5D43D04526582B748974" />
            <ComponentRef Id="cmpB108D54951D4634A7BD6BF44B1F77538" />
            <ComponentRef Id="cmp22D6440C136EBB2E1934BDBA86016683" />
            <ComponentRef Id="cmp939C5C3925623AFBE5071BF4DF7CB425" />
            <ComponentRef Id="cmpDED094E99949F270E791BA5072B2DF4D" />
            <ComponentRef Id="cmpA157E143732DEEE46007028573529144" />
            <ComponentRef Id="cmp960C98ECEE2C46AB711EE84D3E588CB5" />
            <ComponentRef Id="cmpAF41C54ABB0D3FDE1DE71F641A13F552" />
            <ComponentRef Id="cmp52036CDE798728FCDF8B674A0D39D010" />
            <ComponentRef Id="cmp08989762B4EDE0332714DD1810FBEFF1" />
            <ComponentRef Id="cmp125FBD49DE40E7F710F7FB57CD272974" />
            <ComponentRef Id="cmp07DE945C9BAD3999C8A4FE6F103D84E4" />
            <ComponentRef Id="cmp0F9F8C98A5A0F40B83BB267709613FD4" />
            <ComponentRef Id="cmpA278A8B01D4D2CBA44669BF87B4D0807" />
            <ComponentRef Id="cmp7D9F8FE712E88B920833E8F1284CEFA0" />
            <ComponentRef Id="cmp4AAFD0221FB2729284F660E38A007FEE" />
            <ComponentRef Id="cmpA459D0D8FA761724EE1BD2B6715806EC" />
            <ComponentRef Id="cmp22AB6697445264842CDEDD1C7746A0F8" />
            <ComponentRef Id="cmpD5E217864F0B099BF9E2C84D6FCE53A2" />
            <ComponentRef Id="cmp152A62B10AC7E22FF5CA2501527A053C" />
            <ComponentRef Id="cmpF0F72B17E70A358BE0499322B7A65E7E" />
            <ComponentRef Id="cmpFDAF2425CB8D4109D6BD65D05E812B5E" />
            <ComponentRef Id="cmp5AB53AF6248893C11726033A08DD85CF" />
            <ComponentRef Id="cmpF1EF22C0A655F0D6C411DB73B5FF59A6" />
            <ComponentRef Id="cmpBA8F485E62EF46D00A783E1A9D9D05BA" />
            <ComponentRef Id="cmp07895743AB8D7050F67EB438B2E05DD8" />
            <ComponentRef Id="cmp256349AB14F041D065C0801B6B11AA98" />
            <ComponentRef Id="cmp237EFEBDD31DE0B5F98BCC8D9DCD5287" />
            <ComponentRef Id="cmpE2FB6C743E6047B5A10913A206D8868C" />
            <ComponentRef Id="cmp8F6E51E0ECE080B46C18D509469172FE" />
        </ComponentGroup>
    </Fragment>
</Wix>