<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="hagen" Language="1033" Version="$(var.Version)" Manufacturer="Andreas Grimme" UpgradeCode="d98a61bf-12b2-45df-a4e1-3b88104d8d70">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Product" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="!(bind.property.Manufacturer)">
        </Directory>
      </Directory>
    </Directory>
	</Fragment>
</Wix>