<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.88.0" newVersion="1.0.88.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sidi.Util" publicKeyToken="1e33c1a5eebc53e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.963" newVersion="2.5.0.963" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>