<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.2" targetFramework="net40" />
  <package id="MSBuildTasks" version="1.4.0.61" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="sidi-util" version="2.5.0.963" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.88.0" targetFramework="net40" />
  <package id="Unofficial.ObjectListView" version="2.6.0" targetFramework="net40" />
</packages>