<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="2.9.0.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="sidi-util" version="2.5.0.1038" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.91.3" targetFramework="net40" />
  <package id="Unofficial.ObjectListView" version="2.6.0" targetFramework="net40" />
</packages>